.Graph {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Buttons{
    display: flex;
    flex-direction: column;
    margin-left: .5%;
    width: 100%;
    margin-top: .5%;
}

.Plot {
    background-color: white;
}

.Container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}